*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: navajowhite;
    box-sizing: border-box;
}

.todo{
    text-align: center;
    background-color: rgb(165, 55, 55);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
}

h1{
    color: white; 
    font-size: x-large;
}

#task{
    margin-bottom: 10px;
    padding: 3.5px;
    width: 36%;
    border-radius: 10px;
    outline: none;
}

#category{
    width: 36%;
    padding: 3.5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

select:invalid{
    color: gray;
}

option{
    color: black;
}

#addbtn{
    background-color: rgb(2, 75, 2);
    width: 5rem;
    padding: .3rem;
    margin-right: 3px;
    color: white;
    border-radius: 10px;
}

#addbtn:hover{
    background-color: rgb(41, 83, 41);
}

#delbtn{
    background-color: red;
    width: 5rem;
    padding: .3rem;
    color: white;
    border-radius: 10px;
}

#delbtn:hover{
    background-color: rgb(247, 41, 41);
}

.table{
    width: 100%;
    color: black;
}

.head_table{
    width: 100%;
}

.r:hover{
    background-color: rgb(80, 57, 14);
    color: white;
    
}
.strike{
    text-decoration: line-through;
}

